@import url("https://fonts.googleapis.com/css2?family=Kalam:wght@300&family=Mukta+Malar:wght@300&display=swap");
body {
  background-color: #dedde4;
  font-family: "Kalam", cursive;
}

.menu {
  background-color: #558955;
  font-family: "Mukta Malar", sans-serif;
}

.estiloMenu li {
  list-style: none;
  font-size: 25px;
  text-transform: uppercase;
  transition: all 0.2s;
}
.estiloMenu li:hover {
  font-size: 27px;
  color: #104823;
  font-weight: bold;
}

.estiloLogo img {
  width: 80px;
}

/* Estilo para Portada */
.banner {
  background-image: url(../imagenes/banner.jpg);
  background-size: cover;
  width: 100%;
  height: 900px;
  margin-top: 50px;
}
.banner h1 {
  text-transform: uppercase;
  font-size: 100px;
  padding-top: 150px;
}
.banner p {
  font-size: 40px;
}

/* Estilo caja historia */
.descripcion {
  margin: 25px;
  padding: 10px;
}

.yogaDesc img {
  width: 470px;
  box-shadow: 10px 10px 30px #000000;
  background-color: #678282;
}
.yogaDesc h2 {
  text-transform: uppercase;
  font-size: 70px;
  padding: 15px;
  color: #1F3C22;
}
.yogaDesc p {
  font-size: 30px;
  color: #1F3C22;
}

/* Estilo cajas Informacion adicicional */
.boxImagenes {
  margin: 50px;
}

.boxInfo {
  background: linear-gradient(to bottom, #4b7133, #949856);
  height: 730px;
}
.boxInfo h4 {
  color: #162A0F;
}
.boxInfo p {
  color: #162A0F;
}
.boxInfo a {
  background-color: #2C3D15;
  color: white;
  transition: all 0.2s;
  font-size: 18px;
}
.boxInfo a:hover {
  background-color: #5d7057;
  color: black;
  border: 1px solid black;
  font-weight: bold;
  font-size: 16px;
}

/* Estilo de caja de inscripcion */
.estiloForm {
  margin: 50px;
}

.fondoForm {
  box-shadow: 10px 10px 30px black;
  background-color: #949856;
}
.fondoForm h3 {
  font-size: 45px;
}
.fondoForm p {
  font-size: 20px;
}

.estiloBot {
  background-color: #2C3D15;
  color: white;
  transition: all 0.2s;
  font-size: 18px;
}
.estiloBot:hover {
  background-color: #5d7057;
  color: black;
  border: 1px solid black;
  font-weight: bold;
  font-size: 16px;
}

/* Estilo Pagina de inscripcion */
.textFormulario {
  margin-top: 120px;
  text-align: center;
  text-transform: uppercase;
}
.textFormulario h1 {
  font-size: 55px;
  letter-spacing: 4px;
  padding: 10px;
}
.textFormulario img {
  width: 500px;
}

.formulario {
  margin: 40px 0 50px 0;
  padding: 15px;
  display: flex;
  flex-wrap: wrap;
  gap: 3px;
  justify-content: center;
  align-items: center;
}

.estiloIns {
  margin: 20px;
  padding: 20px;
  width: 900px;
  box-shadow: 10px 10px 20px #000000;
  background-color: #949856;
  filter: drop-shadow(6px 6px 8px #000000);
}
.estiloIns label {
  font-size: 20px;
  padding: 5px;
}

.lista {
  margin: 40px 0 70px 0;
  display: flex;
  flex-wrap: wrap;
  gap: 3px;
  justify-content: center;
  align-items: center;
}

/* Estilo seccion Biografia */
.tituloB {
  font-size: 100px;
  margin-top: 60px;
  padding-top: 50px;
}
.tituloB h1 {
  text-transform: uppercase;
  font-size: 50px;
  text-align: center;
  padding-top: 15px;
  color: #162A0F;
}

.acercaDe {
  margin: 20px;
  padding: 15px;
}
.acercaDe h2 {
  color: #162A0F;
}

.estiloA img {
  width: 400px;
}
.estiloA p {
  font-size: 25px;
  padding: 15px;
}

/* Estilo para pagina Contacto */
.tituloB p {
  text-align: center;
  font-size: 30px;
  color: #162A0F;
}

.estiloCont {
  display: flex;
  flex-wrap: wrap;
  gap: 3px;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
  margin-bottom: 50px;
  height: 500px;
}

.boxCont {
  width: 500px;
  margin: 25px;
  padding: 25px;
  background: linear-gradient(to bottom, #4b7133, #949856);
}
.boxCont label {
  font-size: 20px;
  padding: 15px;
}

.boxPrincipalComent {
  margin: 80px;
}

.boxComentario {
  background: linear-gradient(to bottom, #4b7133, #949856);
  box-shadow: 10px 10px 30px #000000;
  background-color: #678282;
  padding: 15px;
  transition: all 0.3s;
}
.boxComentario h2 {
  font-weight: bold;
  text-transform: uppercase;
}
.boxComentario p {
  font-weight: bold;
}

footer {
  background-color: black;
  font-family: "Mukta Malar", sans-serif;
  height: 150px;
}

.estiloLista {
  padding-top: 15px;
}
.estiloLista li {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 250px;
}
.estiloLista a {
  text-decoration: none;
  text-transform: uppercase;
  color: #95977a;
  font-size: 15px;
  transition: all 0.2s;
}
.estiloLista a:hover {
  font-size: 16px;
  padding: 2px;
}

.footerText {
  padding-top: 10px;
}
.footerText h4 {
  font-size: 20px;
  color: #95977a;
  padding-top: 10px;
}

/* APLICANDO MEDIA QUERY */
/* PARA TELEFONO */
@media (min-width: 319px) and (max-width: 767px) {
  .estiloLogo img {
    width: 70px;
  }
  .banner {
    width: 430px;
    height: 350px;
  }
  .banner h1 {
    text-transform: uppercase;
    font-size: 50px;
    text-shadow: 2px 2px 25px #323f4d, 2px 2px 5px #6692a4;
    padding-top: 100px;
  }
  .banner p {
    display: none;
  }
  .yogaDesc img {
    display: none;
  }
  .yogaDesc h2 {
    text-transform: uppercase;
    font-size: 50px;
    padding: 15px;
  }
  .yogaDesc p {
    font-size: 20px;
  }
  .fondoForm p {
    display: none;
  }
  .boxComentario {
    display: none;
  }
  .textFormulario h1 {
    font-size: 35px;
  }
  .textFormulario img {
    width: 300px;
  }
  .tituloB h1 {
    font-size: 30px;
  }
  .estiloA img {
    width: 250px;
  }
  .estiloA p {
    font-size: 25px;
    padding: 15px;
  }
  .boxInfo {
    text-align: center;
    height: 450px;
  }
  .boxInfo p {
    display: none;
  }
  .tituloB p {
    font-size: 20px;
  }
  .estiloCont {
    height: 650px;
  }
  .boxCont {
    margin-top: 5px;
  }
  footer {
    height: 150px;
  }
  .estiloLista li {
    padding-left: 0px;
  }
  .footerText h4 {
    font-size: 15px;
  }
}
/* PARA TABLET */
@media (min-width: 768px) and (max-width: 1023px) {
  .banner {
    width: 100%;
    height: 380px;
  }
  .banner h1 {
    text-transform: uppercase;
    font-size: 50px;
    text-shadow: 2px 2px 25px #323f4d, 2px 2px 5px #6692a4;
    padding-top: 100px;
  }
  .banner p {
    font-size: 20px;
    text-align: start;
    text-shadow: 2px 2px 25px #323f4d, 2px 2px 5px #c4cacc;
    padding-left: 25px;
  }
  .yogaDesc img {
    width: 300px;
  }
  .yogaDesc h2 {
    font-size: 50px;
    padding: 15px;
  }
  .yogaDesc p {
    font-size: 20px;
  }
  .boxInfo {
    text-align: center;
    height: 400px;
  }
  .boxInfo p {
    display: none;
  }
  footer {
    height: 150px;
  }
  .estiloLista li {
    padding-left: 50px;
  }
}

/*# sourceMappingURL=style.css.map */
