body {
    background-color: #ac83c5;
}
/* Estilo para menu */
.menu {
    background-color: #72b5b3;
    height: 80px;
}
.estiloMenu {
    font-size: 20px;
}
.estiloLogo img {
    width: 80px;
}
/* Estilo para Portada */
.banner {
    background-image: url(../imagenes/banner.jpg);
    background-size: cover;
    width: 100%;
    height: 900px;
    margin-top: 50px;
}
/* Estilo Descripcion */
.descripcion {
    margin: 25px;
    padding: 10px;
}
.yogaDesc img{
    width: 330px;
}
/* Estilo de caja de inscripcion */
.estiloForm {
    margin: 50px;
}
/* Estilo cajas de imagenes */
.boxImagenes {
    margin: 50px;
}
/* Estilo de Formulario */
.textFormulario {
    margin-top: 100px;
    text-align: center;
    text-transform: uppercase;
}
.formulario {
    margin: 70px;
    border: 1px solid black;
}
/* Estilo Footer*/
.estiloFooter {
    background-color: black;
}
.estiloLista li {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 250px;
}
.estiloLista a{
    text-decoration: none;
    text-transform: uppercase;
    color: #95977a;
    font-size: 15px;
}
.footerText h4 {
    font-size: 20px;
    color: #95977a;
}