.menu {
	background-color: $background-color_1;
	height: 90px;
	font-family: $font-family_1;
}
.estiloMenu {
	li {
		list-style: none;
		font-size: 25px;
		text-transform: uppercase;
		transition: all 0.2s;
		&:hover {
			font-size: 27px;
			color: $color_2;
			font-weight: bold;
		}
	}
}
.estiloLogo {
	img {
		width: 80px;
	}
}
