/* APLICANDO MEDIA QUERY */

/* PARA TELEFONO */
@media (min-width:319px) and (max-width: 767px) {

    // navegador
    .estiloLogo {
        img {
            width: 70px;
        }
    }

    // portada
    .banner {
        width: 430px;
        height: 350px;

        h1 {
            text-transform: uppercase;
            font-size: 50px;
            text-shadow: 2px 2px 25px #323f4d, 2px 2px 5px #6692a4;
            padding-top: 100px;
        }

        p {
            display: none;
        }
    }

    // historia
    .yogaDesc {
        img {
            display: none;
        }

        h2 {
            text-transform: uppercase;
            font-size: 50px;
            padding: 15px;
        }

        p {
            font-size: $parrafo;
        }
    }

    // caja de inscripcion
    .fondoForm {
        p {
            display: none;
        }
    }

    .boxComentario {
        display: none;
    }

    // Estilo Pagina de inscripcion 
    .textFormulario {

        h1 {
            font-size: 35px;
        }

        img {
            width: 300px;
        }
    }

    // biografia
    .tituloB {
        h1 {
            font-size: 30px;
        }
    }

    .estiloA {
        img {
            width: 250px;
        }

        p {
            font-size: 25px;
            padding: 15px;
        }
    }

    // Estilo cajas Informacion adicicional 
    .boxInfo {
        text-align: center;
        height: 450px;

        p {
            display: none;
        }
    }

    // Estilo para pagina Contacto
    .tituloB {
        p {
            font-size: $parrafo;
        }
    }

    .estiloCont {
        height: 650px;
    }

    .boxCont {
        margin-top: 5px;
    }

    // footer
    footer {
        height: 150px;
    }

    .estiloLista {
        li {
            padding-left: 0px;
        }
    }

    .footerText {
        h4 {
            font-size: 15px;
        }
    }

}

/* PARA TABLET */
@media (min-width:768px) and (max-width:1023px) {
    .banner {
        width: 100%;
        height: 380px;

        h1 {
            text-transform: uppercase;
            font-size: 50px;
            text-shadow: 2px 2px 25px #323f4d,
                2px 2px 5px #6692a4;
            padding-top: 100px;
        }

        p {
            font-size: $parrafo;
            text-align: start;
            text-shadow: 2px 2px 25px #323f4d, 2px 2px 5px #c4cacc;
            padding-left: 25px;
        }
    }

    // historia
    .yogaDesc {
        img {
            width: 300px;
        }

        h2 {

            font-size: 50px;
            padding: 15px;
        }

        p {
            font-size: $parrafo;
        }
    }

    // Estilo cajas Informacion adicicional 
    .boxInfo {
        text-align: center;
        height: 400px;

        p {
            display: none;
        }
    }

    // Footer
    footer {
        height: 150px;
    }

    .estiloLista {
        li {
            padding-left: 50px;
        }
    }

}