@mixin botones {
    background-color: $background-colorNav_3;
    color: $colorNav_3;
    transition: all 0.2s;
    font-size: 18px;

    &:hover {
        background-color: $background-colorNav_4;
        color: $colorNav_2;
        border: 1px solid black;
        font-weight: bold;
        font-size: 16px;
    }
}

@mixin sombraCaja {
    box-shadow: 10px 10px 30px #000000;
    background-color: #678282;
}

@mixin colorFondo {
    background: linear-gradient(to bottom, #37966a, #496327);
}