// header & footer
$color_1: #95977a;
$font-family_1: 'Mukta Malar', sans-serif;
$color_2: #104823;
$background-color_1: #558955;
//color contenido
$colorTexto: #1F3C22;
$colorInfo: #162A0F;
$fondoInfo: #949856;
$colorNav_3: white;
$background-colorNav_3: #2C3D15;
$background-colorNav_4: #5d7057;
$colorNav_2: black;
$parrafo: 20px;